@use "base/reset";

@use "abstracts/variables";
@use "abstracts/mixins";

:root {
	--background-color: rgb(36, 36, 36);
}

.scrollbar {
	--scrollbar-corner: initial;
	--scrollbar-track: rgb(156 163 175 / 0.2) !important;
	--scrollbar-thumb: rgb(247 171 10 / 0.8) !important;
	--scrollbar-track-hover: var(--scrollbar-track);
	--scrollbar-thumb-hover: var(--scrollbar-thumb);
	--scrollbar-corner-hover: var(--scrollbar-corner);
	--scrollbar-track-active: var(--scrollbar-track-hover);
	--scrollbar-thumb-active: var(--scrollbar-thumb-hover);
	--scrollbar-corner-active: var(--scrollbar-corner-hover);
	scrollbar-color: rgb(247 171 10 / 0.8) rgb(156 163 175 / 0.2);
	overflow: overlay;
}
.scrollbar.overflow-x-hidden {
	overflow-x: hidden;
}
.scrollbar.overflow-y-hidden {
	overflow-y: hidden;
}
.scrollbar::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track);
}
.scrollbar::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
}
.scrollbar::-webkit-scrollbar-corner {
	background-color: var(--scrollbar-corner);
}
.scrollbar::-webkit-scrollbar-track:hover {
	background-color: var(--scrollbar-track-hover);
}
.scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover);
}
.scrollbar::-webkit-scrollbar-corner:hover {
	background-color: var(--scrollbar-corner-hover);
}
.scrollbar::-webkit-scrollbar-track:active {
	background-color: var(--scrollbar-track-active);
}
.scrollbar::-webkit-scrollbar-thumb:active {
	background-color: var(--scrollbar-thumb-active);
}
.scrollbar::-webkit-scrollbar-corner:active {
	background-color: var(--scrollbar-corner-active);
}
.scrollbar {
	scrollbar-width: auto;
}
.scrollbar::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}
