.main {
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 0;
	/* scrollbar-color: rgb(247 171 10 / 0.8) rgb(156 163 175 / 0.2); */
	/* overflow: overlay; */
}

.section {
	scroll-snap-align: start;
}
