.main {
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 0;
	/* scrollbar-color: rgb(247 171 10 / 0.8) rgb(156 163 175 / 0.2); */
	/* overflow: overlay; */
}

.section {
	scroll-snap-align: start;
}

.footer {
	position: sticky;
	bottom: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	cursor: default;
	z-index: 50;

	> .container {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.image {
		position: relative;
		width: 3rem;
		height: 3rem;
		border-radius: 9999px;
		background-color: rgb(247 171 10 / 0.1);
		filter: grayscale(100%);
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			filter: grayscale(0%);
		}

		div {
			padding: 1rem;
			position: relative;
		}

		img {
			object-fit: contain;
			cursor: pointer;
		}
	}
}
